span.visited-text {
    display: inline-block;
    width: 70%;
}

form.visited-form {
    display: inline;
}

div.wishlist-place {
    margin: 20px
}

label {
    display: inline-block;
    paddin-right: 8px;
}